<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/med1"
        android:label="Serenity"
        android:roundIcon="@drawable/med1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject">
        <activity
            android:name=".Yoga5"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Yoga4"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Yoga3"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Yoga2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Register_ProfilePage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen_OpeningPage"
            android:exported="true" />
        <activity
            android:name=".btn_card3_homepage_popUp"
            android:exported="false" />
        <activity
            android:name=".btn_card2_homepage_popUp"
            android:exported="false" />
        <activity
            android:name=".btn_card1_homepage_popUp"
            android:exported="false" />
        <activity
            android:name=".Login_ProfilePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>